# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Proxy server
proxy-server.js

# Don't post to github
export const firebaseConfig = {
  apiKey:            'AIzaSyBu6kWe3D1Zx1UPZdLDCoKFYPcEffUQaVY',
  authDomain:        'cybersense-trainer.firebaseapp.com',
  projectId:         'cybersense-trainer',
  storageBucket:     'cybersense-trainer.firebasestorage.app',
  messagingSenderId: '96753542832',
  appId:             '1:96753542832:web:b19242d13e820662cf7d75',
  measurementId:     'G-SNH5576T7W'
};
